initstepslew 1 {% for h in groups['controller'] %}{% if inventory_hostname != h %}{{ hostvars[h].ansible_host }} {% endif %}{% endfor %}

{% for h in groups['controller'] %}
{% if inventory_hostname != h %}
server {{ hostvars[h].ansible_host }}
{% endif %}
{% endfor %}
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
local stratum 8 orphan
manual
rtcsync
allow {{ ntp_allowed_cidr }}
